.formcontainer {
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding-top: 18px; 
    padding-left: 10px; 
    padding-right: 10px; 

    @media screen and (max-width: 1200px) {
      width: 60% !important;
    }
    @media screen and (max-width: 800px) {
        width: 90% !important;
    }
    @media screen and (min-width: 1200px) {
      width: 40% !important;
    }
}



.modalTitle {
    text-align: center !important;
    font-weight: 500;
    font-size: 1.25em;
}

.postscontainer {
  margin-top: 20px;
  @media screen and (max-width: 1200px) {
    width: 60% !important;
  }
  @media screen and (max-width: 800px) {
      width: 90% !important;
  }
  @media screen and (min-width: 1200px) {
    width: 40% !important;
  }
}

.post {
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
}

#dropdown-button-drop-up::after{
  display: none; 
}

#dropdown-button-drop-up {
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: transparent;
}


.editor-class {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 200px;
}