.commentformbutton {
    @media screen and (max-width: 800px) {
        width: 100% !important;
    }
    @media screen and (min-width: 800px) {
        width: 90% !important;
    }
}

.commentedit {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #4267B2;
    font-weight: 600;
    margin-top: -10px;
}

.commentdelete {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #dc3545;
    font-weight: 600;
    margin-top: -10px;
}